@import "variables";


body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3 {
  position: relative;
  margin: 0;
  color: $ash;
  font-weight: $font-weight-medium;
  font-family: $font-family-primary;
  white-space: pre-wrap;
  outline: none;
}

h1 {
  font-size: $font-size-largest;
  line-height: 64px;
}

h2 {
  font-size: $font-size-larger;
  line-height: 48px;
}

h3 {
  font-size: $font-size-large;
  line-height: 36px;
}

hr {
  border: 1px solid $gray;
}

a,
p,
li,
span,
input {
  position: relative;
  padding: 0;
  margin: 0;
  color: $ash;
  font-size: $font-size-smallest;
  font-weight: $font-weight-medium;
  font-family: $font-family-secondary;
  text-decoration: none;
  white-space: pre-wrap;
  outline: none;
}

ol,
ul {
  position: relative;
  padding: 0;
  margin: 0;
}

pre {
  position: relative;
  clear: both;
}

code {
  display: block;
  position: relative;
}
