@import "variables";


.block-container {
  position: relative;
  width: 100%;
  padding: 0 0 24px 0;
  margin: 0 auto;
  cursor: text;
  outline: none;
  -webkit-user-select: text;
}

.block-content {
  position: relative;
  width: 100%;
  // TODO: Change values below to standard, smaller values.
  min-height: $font-size-smaller;
  font-size: $font-size-smaller;
  line-height: 1.25;
  outline: none;
  word-wrap: break-word;
}

.block-heading-one {
  font-size: $font-size-largest;
  line-height: 2;
}

.block-heading-two {
  font-size: $font-size-larger;
  line-height: 1.75;
}

.block-heading-three {
  font-size: $font-size-large;
  line-height: 1.5;
}

.block-quote {
  width: 115%;
  margin-left: -7.5%;
  font-size: $font-size-medium;
  font-style: italic;
  line-height: 2;
  text-align: center;
}

.editor-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
}

.section-container {
  position: relative;
  width: 100%;
  -webkit-user-select: text;
}

.story-container {
  position: relative;
  width: 712px;
  padding: 144px 0 0;
  margin: auto;
  -webkit-user-select: none;
}

.style-modal {
  position: fixed;
  z-index: $z-index-9;
  top: 128px;
  left: 128px;
  height: 36px;
  padding: 0 8px;
  border-radius: 3px;
  box-shadow: 0, 0, 3px, $black;
  transition: top 75ms, left 75ms;
  background-image: linear-gradient(to bottom, $ash, $black);
}

.style-modal-triangle {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin: auto;
  border: 8px solid transparent;
  border-top: 8px solid $black;
  line-height: 0;
}

.style-option {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 36px;
  height: 18px;
  color: $white;
  text-align: center;
  cursor: pointer;
}

.style-option-active {
  color: $coral;
}
