@import "variables";


.block-container {
  position: relative;
  width: 100%;
  padding: 0 0 24px 0;
  margin: 0 auto;
  cursor: text;
  outline: none;
  -webkit-user-select: text;
}

.block-content {
  position: relative;
  width: 100%;
  min-height: $font-size-smaller;
  font-size: $font-size-smaller;
  font-family: $font-family-secondary;
  line-height: 1.25;
  outline: none;
  word-wrap: break-word;
}

.block-centered {
  text-align: center;
}

.block-heading-one {
  font-size: $font-size-largest;
  font-family: $font-family-primary;
  line-height: 64px;
}

.block-heading-two {
  font-size: $font-size-larger;
  font-family: $font-family-primary;
  line-height: 48px;
}

.block-heading-three {
  font-size: $font-size-large;
  font-family: $font-family-primary;
  line-height: 36px;
}

.block-quote {
  width: 115%;
  margin-left: -7.5%;
  font-size: $font-size-medium;
  font-style: italic;
  line-height: 2;
  text-align: center;
}

.editor-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
}

.media-modal {
  display: inline-block;
  position: absolute;
  z-index: $z-index-8;
  top: -6px;
  left: -48px;
  width: 30px;
  height: 30px;
  background-color: $white;
  overflow: hidden;
  -webkit-user-select: none;
}

.media-modal-open {
  width: 156px;
}

.media-modal-prompt {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: $z-index-9;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  color: $gray;
  border: 1px solid $gray;
  border-radius: 14px;
  line-height: 0;
  text-align: center;
  cursor: pointer;
}

.media-modal-option {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: $z-index-9;
  width: 28px;
  height: 28px;
  margin-right: 8px;
  color: $gray;
  border: 1px solid $gray;
  border-radius: 14px;
  line-height: 0;
  text-align: center;
  cursor: pointer;
  transition: transform 100ms;
  transform: scale(1, 1);

  &:nth-child(4) {
    transition-delay: 40ms;
  }

  &:nth-child(5) {
    transition-delay: 80ms;
  }
}

.media-modal-option-hidden {
  transform: scale(0, 0);
}

.section-container {
  position: relative;
  width: 100%;
  -webkit-user-select: text;
}

.story-container {
  position: relative;
  width: 712px;
  padding: 144px 0 0;
  margin: auto;
  -webkit-user-select: none;
}

.style-modal {
  position: fixed;
  z-index: $z-index-9;
  top: 128px;
  left: 128px;
  height: 36px;
  padding: 0 8px;
  border-radius: 3px;
  box-shadow: 0, 0, 3px, $black;
  transition: top 100ms, left 100ms;
  background-image: linear-gradient(to bottom, $ash, $black);
}

.style-modal-triangle {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  margin: auto;
  border: 8px solid transparent;
  border-top: 8px solid $black;
  line-height: 0;
}

.style-option {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 36px;
  height: 18px;
  color: $white;
  text-align: center;
  cursor: pointer;
}

.style-option-active {
  color: $coral;
}
