@import "variables";


pre {
  position: relative;
  width: 712px;
  margin: auto;
  clear: both;
  -webkit-user-select: all;

  &:hover {
    cursor: text;
  }
}

code {
  display: block;
  position: relative;
  width: 100%;
}

.code {
  position: relative;
  width: 100%;
  font-size: $font-size-smallest;
  font-family: $font-family-tertiary;
  line-height: 20px;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.code-blue {
  color: $blue;
}

.code-green {
  color: $green;
}

.code-rose {
  color: $rose;
}

.code-indented {
  padding-left: 49px;
  color: $ash;
  text-indent: -50px;
}
