@import "variables";

.code {
  position: relative;
  width: 100%;
  font-size: $font-size-smallest;
  font-family: $font-family-tertiary;
  line-height: 20px;
  white-space: pre-wrap;
  box-sizing: border-box;
}

.code-blue {
  color: $blue;
}

.code-green {
  color: $green;
}

.code-rose {
  color: $rose;
}

.indented-primary {
  padding-left: 49px;
  text-indent: -50px;
}

.indented-secondary {
  padding-left: 66px;
  text-indent: -67px;
}

.indented-tertiary {
  padding-left: 15px;
  text-indent: -16px;
}

.pre-container {
  position: relative;
  width: 712px;
  padding-bottom: 128px;
  margin: auto;
  -webkit-user-select: all;

  &:hover {
    cursor: text;
  }
}
