// Weights
$font-weight-medium: 400;

// Sizes
$font-size-largest: 48px;
$font-size-larger: 36px;
$font-size-large: 30px;
$font-size-medium: 24px;
$font-size-small: 18px;
$font-size-smaller: 16px;
$font-size-smallest: 14px;

// Families
$font-family-primary: "Montserrat";
