@import "variables";


body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0;
  color: $ash;
  font-weight: $font-weight-medium;
  font-family: $font-family-primary;
  white-space: pre-wrap;
}

h1 {
  font-size: $font-size-largest;
  line-height: 64px;
}

h2 {
  font-size: $font-size-larger;
  line-height: 48px;
}

h3 {
  font-size: $font-size-large;
  line-height: 36px;
}

a,
p,
li,
span,
input {
  position: relative;
  padding: 0;
  margin: 0;
  color: $ash;
  font-size: $font-size-smallest;
  font-weight: $font-weight-medium;
  font-family: $font-family-secondary;
  text-decoration: none;
  white-space: pre-wrap;
  outline: none;
}

hr {
  border: 1px solid $gray;
}

.general-hidden {
  display: none;
}

.general-invisible {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.general-placeholder {
  &:empty:before {
    content: attr(placeholder);
    color: $mist;
  }
}

.general-view {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 64px;
  -webkit-user-select: none;
}

.vertical-anchor {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 100%;
}

.view-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 72px;
  padding: 6px 0;
  margin-left: 12px;
  color: $gray;
  border: 2px solid $gray;
  border-radius: 2px;
  font-size: $font-size-smallest;
  font-family: $font-family-primary;
  text-align: center;

  &:hover {
    color: $coral;
    border-color: $coral;
    cursor: pointer;
  }
}

.view-button-selected {
  color: $coral;
  border-color: $coral;
}

.view-buttons {
  position: relative;
  width: 712px;
  margin: 64px auto 0;
  text-align: right;
}

.view-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
}
