@import "variables";


body {
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  margin: 0;
  color: $ash;
  font-family: $font-family-primary;
  font-weight: $font-weight-medium;
  letter-spacing: -0.5px;
  white-space: pre-wrap;
}

h1 {
  font-size: $font-size-largest;
  letter-spacing: 4px;
  line-height: 64px;
}

h2 {
  font-size: $font-size-larger;
  line-height: 48px;
}

h3 {
  font-size: $font-size-large;
  line-height: 36px;
}

a,
p,
li,
span,
input {
  padding: 0;
  margin: 0;
  color: $ash;
  font-size: $font-size-smallest;
  font-weight: $font-weight-medium;
  font-family: $font-family-secondary;
  text-decoration: none;
  outline: none;
  white-space: pre-wrap;
}

hr {
  border: 1px solid $gray;
}

.general-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 6px 12px;
  margin-right: 12px;
  color: $white;
  border-bottom: 2px solid $gray-lighter;
  border-radius: 2px;
  background-color: $gray-lighter;
  font-size: 14px;

  &:hover {
    background-color: $gray-light;
    cursor: pointer;
  }
}

.general-hidden {
  display: none;
}

.general-invisible {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
}

.general-page {
  position: relative;
  width: 100vw;
  height: 100vh;
  -webkit-user-select: none;
}

.general-placeholder {
  &:empty:before {
    content: attr(placeholder);
    color: $gray-light;
  }
}

.vertical-anchor {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 100%;
}
