@import "colors";


.story-container {
  position: relative;
  width: 712px;
  padding: 144px 0 0;
  margin: auto;
  -webkit-user-select: none;
}

.section-container {
  position: relative;
  width: 100%;
  -webkit-user-select: all;
}
