// --------------------------------------------------
// Colors
// --------------------------------------------------
$ash: #565A5C;
$coral: #FF5A5F;
$peach: rgba(255, 130, 135, 0.625);
$mist: #BCBCBC;

$black: #343434;
$gray: #878B8D;
$white: #FFFFFF;

$blue: #6C99BB;
$green: #96B975;
$purple: #B583B9;
$red: #B05179;


// --------------------------------------------------
// Fonts
// --------------------------------------------------
$font-family-primary: "Montserrat", sans-serif;
$font-family-secondary: "Merriweather", serif;
$font-family-tertiary: "Monaco", monospace;

$font-size-largest: 48px;
$font-size-larger: 36px;
$font-size-large: 30px;
$font-size-medium: 24px;
$font-size-small: 18px;
$font-size-smaller: 16px;
$font-size-smallest: 14px;

$font-weight-large: 700;
$font-weight-medium: 400;

// --------------------------------------------------
// Z-Indices
// --------------------------------------------------
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
